<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="applicable-device" content="pc">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes" name="viewport">
    <title>中国信通院</title>
    <link rel="stylesheet" href="../public/common/css/frameWork.css">
    <link rel="stylesheet" href="../libs/css/index.css">
    <link rel="stylesheet" href="../libs/css/information.css">
    <script type="text/javascript" src="../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../libs/js/index.js"></script>
    <script src="../public/common/js/libs/request.js"></script>
    <link rel="stylesheet" href="../public/icon_font/font_2146463_rwg5xu2h78/iconfont.css">
    <link rel="stylesheet" href="../plugin/layui/css/layui.css">
    <link rel="stylesheet" href="../public/common/js/libs/paging/index.css">
    <script src="../public/common/js/libs/paging/index.js"></script>
    <style>
        .tips-text {
            width: 400px;
            height: 40px;
            background: #f0f9eb;
            color: #67c23a;
            border-radius: 5px;
            position: fixed;
            top: 10px;
            left: 50%;
            margin-left: -200px;
            z-index: 100;
            font-size: 14px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }

        .tips-text i {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url('../../../public/image/chenggongtubiao.png');
            background-size: 100% 100%;
            margin: 0 15px;
        }

        .paging_page_box {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
    </style>
</head>

<body style="background: #F2F2F2;">
    <nav class="nav-top">
        <div class="page-logo">
            <div class="logo-back"></div>
        </div>
        <ul class="nav-list"></ul>
        <div class="search-input-style search-input">
            <input class="input-text" type="text" placeholder="请输入">
            <span id="input_btn" class="iconfont icon-sousuo"></span>
        </div>
        <div class="my cur" onclick="goMy()">
            <span class="mys">我的空间</span>
            <span class="layui-icon layui-icon-notice"></span>
        </div>
    </nav>
    <!-- banner -->
    <div class="back-banner">
        <div class="banner-text"></div>
        <img src="../public/images/zixun.png" alt="">
        <div class="back-point">
            <div></div>
        </div>
    </div>
    <!-- list -->
    <div class="classification-content ">
        <div class="classification-icon">
            <div class="icon-tabs-btn icon-tabs-active">
                <img src="../public/images/icon/1046.png" alt="">
                <span class="subscribe" key="0">+ 订阅</span>
            </div>
            <div class="icon-tabs-btn">
                <img src="../public/images/icon/1051.png" alt="">
                <span class="subscribe" key="1">+ 订阅</span>
            </div>
            <div class="icon-tabs-btn">
                <img src="../public/images/icon/1052.png" alt="">
                <span class="subscribe" key="2">+ 订阅</span>
            </div>
            <div class="icon-tabs-btn">
                <img src="../public/images/icon/1053.png" alt="">
                <span class="subscribe" key="3" id="zuixinhuodondinyue">+ 订阅</span>
            </div>
        </div>
        <div class="search-article">
            搜索：<input class="search-input_title" type="text" placeholder="请输入文章标题查询">
        </div>
        <div class="list-number">共 31 条经典信息</div>
        <ul class="list-content"></ul>
        <!-- 分页 -->
        <div class="paging_page_box">
            <!-- <div class="paging"></div> -->
        </div>
    </div>
    <!-- <include src="../../footer.html"></include> -->
    <script>
        function goMy() {
            if (window.sessionStorage.getItem('token')) {
                window.location.href = '../../admin/index.html'
            } else {
                window.location.href = '../../login.html';
            }
        }

        let request = new Call_Request();
        // 订阅
        function subscribeFun(data) {
            request.method = 'post'
            request.url = request.UrlPublic + 'web/my/subscribe/insert'
            request.data = JSON.stringify(data)
            request.redata = function (res) {
                tipsFun('订阅成功')
            }
            request.run()
        }
        // 取消订阅
        function cancelSubscribeFun(id) {
            request.method = 'DELETE'
            request.url = request.UrlPublic + 'web/my/subscribe/delete?id=' + id
            request.redata = function (res) {
                tipsFun('取消订阅成功')
            }
            request.run()
        }
        // 获取订阅
        function obtainSubscribeFun() {
            request.method = 'get'
            request.url = request.UrlPublic + 'web/my/subscribe/findAll'
            request.redata = function (res) {
                $.each(res.data.content, function (index, item) {
                    if (item.cmsContentId) {
                        $($('.subscribe')[item.type]).text('- 取消')
                        $($('.subscribe')[item.type]).attr('id', item.id)
                    }
                })
            }
            request.run()
        }
        Ajax('/webadmin/column/getAllColumn', null).then(function (res) {
            let navList = '';
            $.each(res.data, function (index, item) {
                if (item.navigation) {
                    if ("dc3cb4e893e94f64a8d844a5b567a1ff" === item.columnId) {
                        columnListFun(item.children);
                        navList += '<li columnId="' + item.columnId + '" data_url="' + item.pcListUrl + '"><span>' + item.columnName + '</span><i></i></li>';
                    } else {
                        navList += '<li columnId="' + item.columnId + '" data_url="' + item.pcListUrl + '"><span>' + item.columnName + '</span></li>';
                    }
                }
            })
            $('.nav-list').html(navList);
            $('.nav-list').on('click', 'li', function () {
                // 控制导航下划线
                $(this).append('<i></i>').siblings().children().remove('i')
                window.location.href = request.httpUrl + $(this).attr('data_url') + '?columnId=' + $(this).attr('columnId');
            })
            backTitleFun('dc3cb4e893e94f64a8d844a5b567a1ff');
        })
        // 大背景图与大字体
        function backTitleFun(columnId) {
            Ajax('/webadmin/content/getAllContentByColumnId', { columnId: columnId }).then(function (res) {
                let data = JSON.parse(res.data.content[0].content).values;
                $('.banner-text').text(data.title);
                $('.back-banner img').attr('src', data.back_url[0].fileDownloadUri);
            })
        }
        let imgSrc = [
            {
                src1: '../public/images/icon/1050.png',
                src2: '../public/images/icon/1046.png'
            }, {
                src1: '../public/images/icon/1051.png',
                src2: '../public/images/icon/1047.png'
            }, {
                src1: '../public/images/icon/1052.png',
                src2: '../public/images/icon/1048.png'
            }, {
                src1: '../public/images/icon/1053.png',
                src2: '../public/images/icon/1049.png'
            }
        ];
        // 栏目列表
        function columnListFun(list) {
            let columnId_S = list[0].columnId;
            obtainSubscribeFun();
            dataListFun('http://47.93.42.226/cmsV2/webadmin/content/findAllExt', columnId_S, title = null, page = 1);
            $('.classification-icon').on('click', '.icon-tabs-btn', function () {
                $('.paging_page_box').html('<div class="paging"></div>')
                $('.search-input_title').val('')
                imgSrc.forEach(function (item, index) {
                    $($('.classification-icon .icon-tabs-btn')[index]).children('img').attr('src', item.src1);
                })
                $(this).children('img').attr('src', imgSrc[$(this).index()].src2);
                if ($(this).index() < 3) {
                    columnId_S = list[$(this).index()].columnId;
                    dataListFun('http://47.93.42.226/cmsV2/webadmin/content/findAllExt', columnId_S, title = null, page = 1)
                } else {
                    columnId_S = null;
                    dataListFun(request.UrlPublic + 'web/activities/findAll', columnId_S, title = null, page = 1)
                }
            })
            // 搜索
            $('.search-input_title').on('keydown', function (e) {
                if (e.keyCode == 13) {
                    if (columnId_S) {
                        dataListFun('http://47.93.42.226/cmsV2/webadmin/content/findAllExt', columnId_S, $(this).val(), page = 1)
                    } else {
                        dataListFun(request.UrlPublic + 'web/activities/findAll', columnId_S, $(this).val(), page = 1)
                    }
                }
            })
            // 点击订阅取消
            $('.icon-tabs-btn').on('click', 'span', function () {
                let index = $(this).attr('key')
                if (sessionStorage.getItem('token')) {
                    if ($(this).text() === '- 取消') {
                        cancelSubscribeFun($(this).attr('id'));
                    } else if ($(this).text() === '+ 订阅') {
                        let cmsContentId = list[index] ? list[index].columnId : 'zuixinghuodon';
                        let title = list[index] ? list[index].columnName : '最新活动';
                        subscribeFun({ userId: sessionStorage.getItem('id'), cmsContentId: cmsContentId, type: index, title: title });
                    }
                } else {
                    window.location.href = "../../login.html" + "?url=/dc3cb4e893e94f64a8d844a5b567a1ff/6b5c0376e98f4e03b3691c4a304f2a39/information.html";
                }
            })
        }
        // 渲染列表函数
        function dataListFun(url, columnId, title, page) {
            $('.paging_page_box').html('<div class="paging"></div>')
            request.method = 'GET'
            request.url = url
            request.data = { columnId: columnId, title: title, size: 10, page: page }
            request.redata = function (res) {
                let listCon = ''
                let str = '';
                $.each(res.data.content, function (index, item) {
                    if (item.columnId) {
                        str = '';
                        let itemData = JSON.parse(item.content).values;
                        let imgUrl = itemData.imgUrl[0].fileDownloadUri ? itemData.imgUrl[0].fileDownloadUri : '../public/image/fail.png';
                        listCon += '<li class="list-item" id=' + item.id + '><img src="' + imgUrl + '" onerror=""><div class="list-item-content"><h2>' + item.title + '</h2><p>' + itemData.content + '</p><span>' + itemData.time + '</span></div></li>';
                    } else {
                        str = '&typeIndex=true';
                        let strURL = request.UrlPublic + item.pic;
                        let imgUrl = strURL ? strURL : '../public/image/fail.png';
                        listCon += '<li class="list-item" id=' + item.id + '><img src="' + imgUrl + '"><div class="list-item-content"><h2>' + item.title + '</h2><p>' + item.content + '</p><span>' + item.startTime + '</span></div></li>';
                    }
                });
                $('.list-content').html(listCon);
                // // 点击查看详情
                $('.list-content').on('click', '.list-item', function () {
                    window.location.href = request.httpUrl + 'c29ad7fdc3fe4756b4bead9bba3ef1c9/8395b11c46af4c07b888b91822e8b5a4/details.html?id=' + $(this).attr('id') + str + encodeURI('&pages=资讯中心');
                })
                // totalElements 总条数 totalPages 总页数
                pageNunFun(res.data.totalElements, res.data.totalPages, columnId, title, page);
            }
            request.run()
        }

        // 分页
        function pageNunFun(num, numPage, columnId, title, page) {
            $('.list-number').text('共 ' + num + ' 条经典信息');
            new Paging({
                total: num,// 总条数
                callback: function (index) {
                    if (columnId) {
                        pageListFun(columnId, index, title, 'http://47.93.42.226/cmsV2/webadmin/content/findAllExt');
                    } else {
                        pageListFun(null, index, null, request.UrlPublic + 'web/activities/findAll');
                    }
                }
            });
        }

        // 点击分页渲染列表
        function pageListFun(columnId, page, title, url) {
            request.method = 'GET'
            request.url = url
            request.data = { columnId: columnId, size: 10, page: page, title: title }
            request.redata = function (res) {
                let listCon = ''
                let str = '';
                $.each(res.data.content, function (index, item) {
                    if (item.columnId) {
                        str = '';
                        let itemData = JSON.parse(item.content).values;
                        let imgUrl = itemData.imgUrl[0].fileDownloadUri ? itemData.imgUrl[0].fileDownloadUri : '../public/image/fail.png';

                        listCon += '<li class="list-item" id=' + item.id + '><img src="' + imgUrl + '"><div class="list-item-content"><h2>' + item.title + '</h2><p>' + itemData.content + '</p><span>' + itemData.time + '</span></div></li>';
                    } else {
                        str = '&typeIndex=true';
                        let strURL = request.UrlPublic + item.pic;
                        let imgUrl = strURL ? strURL : '../public/image/fail.png';
                        listCon += '<li class="list-item" id=' + item.id + '><img src= "' + imgUrl + '"><div class="list-item-content"><h2>' + item.title + '</h2><p>' + item.content + '</p><span>' + item.startTime + '</span></div></li>';
                    }
                });
                $('.list-content').html(listCon);
                // 点击查看详情
                $('.list-content').on('click', '.list-item', function () {
                    window.location.href = request.httpUrl + 'c29ad7fdc3fe4756b4bead9bba3ef1c9/8395b11c46af4c07b888b91822e8b5a4/details.html?id=' + $(this).attr('id') + str + encodeURI('&pages=资讯中心');
                })
            }
            request.run()
        }
        // 提示框
        function tipsFun(text) {
            $('body').append('<div class="tips-text"><i>></i>' + text + '</div>');
            setTimeout(function () {
                $('body .tips-text').remove();
                location.reload();
            }, 2000);
        }
    </script>
    <script type="text/javascript" src="../libs/js/search.js"></script>
    <script>
        // 系统埋点统计
        if (sessionStorage.getItem('id')) {
            addStatistics({ flag: sessionStorage.getItem('id'), type: "资讯" });
        } else {
            addStatistics({ flag: sessionStorage.getItem('strId'), type: "资讯" });
        }
        function addStatistics(body) {
            request.method = 'POST';
            request.url = request.UrlPublic + 'web/statistic/insertServiceVisitCount';
            request.data = JSON.stringify(body);
            request.redata = function (res) {
                if (res.code == 1) {
                    // 统计访服务
                }
            };
            request.run();
        }
    </script>
</body>

</html>