<!--
 * @Author: your name
 * @Date: 3535-09-04 15:16:05
 * @LastEditTime: 2020-10-28 15:56:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \web\view\index.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="applicable-device" content="pc">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes" name="viewport">
	<link rel="stylesheet" href="../public/common/css/frameWork.css">
	<title>中国信通院</title>
</head>

<body>
	<div class="footer_main">
		<div class="footer">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="bo_tit" height="35" width="10%">院业务网站</td>
						<td width="90%">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.chinattl.com/" target="_blank" title="中国泰尔实验室"
													class="bo_text">中国泰尔实验室</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.tlc.com.cn/" target="_blank" title="泰尔认证中心"
													class="bo_text">泰尔认证中心</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.ccicc.com.cn/" target="_blank" title="通信工程定额质监中心"
													class="bo_text">通信工程定额质监中心</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://ipc.caict.ac.cn" target="_blank" title="知识产权中心"
													class="bo_text">知识产权中心</a></div>
										</td>
									</tr>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.cnspeedtest.cn" target="_blank" title="宽带测速平台"
													class="bo_text">宽带测速平台</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="https://www.kexinyun.org.cn/" target="_blank" title="可信云"
													class="bo_text">可信云</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.smarterapps.cn" target="_blank" title="智测云"
													class="bo_text">智测云</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://Cloud.ifseclabs.com" target="_blank" title="安测云"
													class="bo_text">安测云</a></div>
										</td>
									</tr>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.teleinfo.cn" target="_blank" title="泰尔英福"
													class="bo_text">泰尔英福</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://hgjg.caict.ac.cn:8880/css/#/" target="_blank" title="免税设备海关监管系统"
													class="bo_text">免税设备海关监管系统</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://mtnet.caict.ac.cn/" target="_blank" title="新一代移动通信测试验证国家工程实验室"
													class="bo_text">新一代移动通信测试验证国家工程实验室</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="mdt10">
						<td class="bo_tit" align="left" height="35">分院</td>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.cszit.com/" target="_blank" title="南方分院"
													class="bo_text">南方分院</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.ecit.org.cn/" target="_blank" title="华东分院"
													class="bo_text">华东分院</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://cqcatr.com/" target="_blank" title="西部分院"
													class="bo_text">西部分院</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="./ywlj/351512/t35151228_165499.htm" target="_blank" title="广州智慧城市研究院"
													class="bo_text">广州智慧城市研究院</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="mdt10">
						<td class="bo_tit" align="left" height="35">部属中心</td>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.tenaa.com.cn" target="_blank" title="电信设备认证中心"
													class="bo_text">电信设备认证中心</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="https://dxss.miit.gov.cn/" target="_blank" title="电信用户申诉受理中心"
													class="bo_text">电信用户申诉受理中心</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.chinacc.com.cn/" target="_blank" title="信息通信业务受理中心"
													class="bo_text">信息通信业务受理中心</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="mdt10">
						<td class="bo_tit" align="left" height="35">部设支撑机构</td>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.caict.ac.cn/alaqbgs/" target="_blank"
													title="电信计费检测和防雷安全检测管理办公室" class="bo_text">电信计费检测和防雷安全检测管理办公室</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td class="bo_tit" align="left" height="35" valign="top">挂靠单位</td>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.isc.org.cn/" target="_blank" title="中国互联网协会"
													class="bo_text">中国互联网协会</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://opensourcecloud.cn" target="_blank" title="云计算开源产业联盟"
													class="bo_text">云计算开源产业联盟</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.aii-alliance.org/" target="_blank" title="工业互联网产业联盟"
													class="bo_text">工业互联网产业联盟</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.aiec-alliance.com/" target="_blank"
													title="&quot;互联网+节能&quot;产业联盟" class="bo_text">"互联网+节能"产业联盟</a></div>
										</td>
									</tr>

									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://network5.cn/" target="_blank" title="网络5.0产业和技术创新联盟"
													class="bo_text">网络5.0产业和技术创新联盟</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.chinabda.cn/" target="_blank" title="中国宽带发展联盟"
													class="bo_text">中国宽带发展联盟</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.dca.org.cn/" target="_blank" title="数据中心联盟"
													class="bo_text">数据中心联盟</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.chn-ecia.org.cn/" target="_blank" title="应急通信产业联盟"
													class="bo_text">应急通信产业联盟</a></div>
										</td>
									</tr>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.imt3535.org.cn/zh" target="_blank" title="IMT-3535(5G)推进组"
													class="bo_text">IMT-3535(5G)推进组</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.taf.net.cn/Default.aspx" target="_blank" title="电信终端产业协会"
													class="bo_text">电信终端产业协会</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.cace-ns.org.cn/" target="_blank" title="中国通信企业协会通信网络安全专委会"
													class="bo_text">中国通信企业协会通信网络安全专委会</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.cihia.cn/" target="_blank" title="互联网医疗健康产业联盟"
													class="bo_text">互联网医疗健康产业联盟</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="mdt10">
						<td class="bo_tit" align="left" height="35">政府机构</td>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.miit.gov.cn/" target="_blank" title="中华人民共和国工业和信息化部"
													class="bo_text">中华人民共和国工业和信息化部</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.ndrc.gov.cn/" target="_blank" title="中华人民共和国国家发展和改革委员会"
													class="bo_text">中华人民共和国国家发展和改革委员会</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.most.gov.cn/" target="_blank" title="中华人民共和国科学技术部"
													class="bo_text">中华人民共和国科学技术部</a></div>
										</td>
										<td style="text-align: center" width="25%" height="35">
											<div align="left"><a href="http://www.cac.gov.cn" target="_blank" title="中共中央网络安全和信息化领导小组办公室"
													class="bo_text">中共中央网络安全和信息化领导小组办公室</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td height="1" style="background-color: #D4DBE7"></td>
				</tr>
				<tr>
					<td height="100%" colspan="4">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td colspan="2" height="25"></td>
								</tr>
								<tr>
									<td width="100" style="text-align:left; vertical-align: middle;" ><img src="../public/images/footer/webchat_code.png" width="64" height="64"alt=""></td>
									<td  width="150" style="text-align: left; vertical-align: middle;" class="bo_scan">微信扫一扫<br>添加信通院公众号</td>
									<td style="text-align: center; vertical-align: middle;" class="bo_scan">Copyright © 2018-2023 中国信息通信研究院 版权所有<br>
										<img src="../public/images/footer/gh.png" width="20" height="20" style="height: 20px; width: 20px;" alt="">
										<a style="color: #333" href="http://beian.miit.gov.cn/" target="_blank">京ICP备09013372号</a> 
										<a
											style="color: #333"
											href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802027721"
											target="_blank">京公网安备11010802027721号</a><br>
									</td>
									<td>
										<div style="display:none">
											<script type="text/javascript"
												src="https://s96.cnzz.com/z_stat.php?id=1277360048&amp;web_id=1277360048"></script>
											<script src="https://c.cnzz.com/core.php?web_id=1277360048&amp;t=z" charset="utf-8"
												type="text/javascript"></script><a
												href="https://www.cnzz.com/stat/website.php?web_id=1277360048" target="_blank"
												title="站长统计">站长统计</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>

</html>