<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="applicable-device" content="pc">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes" name="viewport">
    <title>中国信通院</title>
    <link rel="stylesheet" href="../../public/icon_font/font_2146463_rwg5xu2h78/iconfont.css">
    <link rel="stylesheet" href="../../public/common/css/libs/style.css">
    <link rel="stylesheet" href="../../plugin/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../libs/css/index.css">
    <link rel="stylesheet" href="../../libs/css/platform.css">
    <link rel="stylesheet" href="../../plugin/swiper/swiper.min.css">
    <script type="text/javascript" src="../../plugin/jQuery/jQuery.min.js"></script>
    <script src="../../libs/js/index.js" type="text/javascript"></script>
    <script src="../../plugin/swiper/swiper.min.js"></script>
    <script src="../../public/common/js/libs/request.js"></script>
    <script type="text/javascript" src="../../public/common/js/libs/includ.js"></script>
    <link rel="stylesheet" href="../../public/common/css/frameWork.css">
    <link rel="stylesheet" href="../../plugin/layui/css/layui.css">
    <style>
        .tips-text {
            width: 400px;
            height: 40px;
            background: #f0f9eb;
            color: #67c23a;
            border-radius: 5px;
            position: fixed;
            top: 10px;
            left: 50%;
            margin-left: -200px;
            z-index: 100;
            font-size: 14px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }

        .tips-text i {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url('../../../public/image/chenggongtubiao.png');
            background-size: 100% 100%;
            margin: 0 15px;
        }
    </style>
</head>

<body>
    <nav class="nav-top">
        <div class="page-logo">
            <div class="logo-back"></div>
        </div>
        <ul class="nav-list"></ul>
        <div class="search-input search-input-style">
            <input class="input-text" type="text" placeholder="请输入">
            <span id="input_btn" class="iconfont icon-sousuo"></span>
        </div>
        <div class="my cur" onclick="goMy()">
            <span class="mys">我的空间</span>
            <span class="layui-icon layui-icon-notice"></span>
        </div>
    </nav>
    <div class="banner">
        <img class="back_banner" src="">
        <div class="banner-box ab-c">
            <h3 class="back_title"></h3>
            <p class="back_text"></p>
            <span class="platform_btn">进入系统平台</span>
            <span class="collection_serve">收 藏 服 务</span>
        </div>
    </div>
    <div class="zhuti">
        <ul class="content-tab"></ul>
    </div>
    <div class="zhuti content-box">
        <ul>
            <li>
                <h3 class="serve_class">服务介绍</h3>
                <div class="serve_text"></div>
                <div class="img_content"></div>
            </li>
            <li>
                <h3>服务优势</h3>
                <p class="serve_advantage"></p>
                <div class="img_content_1"></div>
            </li>
            <li>
                <h3>客户案例</h3>
                <div class="swiper-case-content">
                    <div class="swiper-case-list">
                        <div id="swiper" class="swiper-container">
                            <div id="swiper-item-content" class="swiper-wrapper"></div>
                        </div>
                        <div class="swiper-button-prev"><span class="iconfont icon-Left"></span></div>
                        <div class="swiper-button-next"><span class="iconfont icon-right"></span></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="help">
        <div class="head-portrait">
            <img src="../../public/image/bigData/touxiang.png">
        </div>
        <div class="help-main">
            <img src="../../public/image/bigData/touxiang.png">
            <h3>电话咨询</h3>
            <p>功能性能测评：400-607-6657（张女士）</p>
            <p>边缘网关测评：400-619-2176（张先生）</p>
            <p>工业APP测评：400-603-1123（李女士）</p>
            <h3>联系邮箱</h3>
            <p>功能性能测评：cloud@insper.com</p>
            <p>边缘网关测评：cloud@insper.com</p>
            <p>工业APP测评：cloud@insper.com</p>
        </div>
    </div>
    <!-- <include src="../../footer.html"></include> -->
</body>
<script>
    function goMy() {
        if (window.sessionStorage.getItem('token')) {
            window.location.href = '../../admin/index.html';
        } else {
            window.location.href = '../../login.html';
        }
    }
    // new Swiper('#swiper', {
    //     loopedSlides: 3,
    //     slidesPerView: 3,
    //     spaceBetween: 20,
    //     observer: true,
    //     observeParents: true,
    //     loop: true, // 循环模式选项
    //     navigation: {
    //         nextEl: '.swiper-case-list .swiper-button-next',
    //         prevEl: '.swiper-case-list .swiper-button-prev',
    //     },
    // });
    let request = new Call_Request();
    // 我的足迹
    function footprintAddFun(data) {
        request.method = 'POST';
        request.url = request.UrlPublic + 'web/my/footprint/insert';
        request.data = JSON.stringify(data);
        request.redata = function (res) {
        };
        request.run();
    }
    // 收藏服务
    function collectionFun(data) {
        request.method = 'POST';
        request.url = request.UrlPublic + 'web/my/collect/insert';
        request.data = JSON.stringify(data);
        request.redata = function (res) {
            $('.collection_serve').text('取 消 收 藏');
            tipsFun('你收藏了解决方案验证服务');
        }
        request.run();
    }
    // 取消收藏
    function cancelCollectionFun(id) {
        request.method = 'delete';
        request.url = request.UrlPublic + 'web/my/collect/delete?cmsContentId=' + id;
        request.redata = function (res) {
            $('.collection_serve').text('收 藏 服 务');
            tipsFun('你取消收藏了解决方案验证服务');
        }
        request.run();
    }
    // 获取收藏
    function obtainCollectionFun(cmsContentId) {
        request.method = 'get';
        request.url = request.UrlPublic + 'web/my/collect/find';
        request.data = { 'cmsContentId': cmsContentId };
        request.redata = function (res) {
            if (res.data) {
                $('.collection_serve').text('取 消 收 藏');
                $('.collection_serve').attr('id', res.data.cmsContentId);
            } else {
                $('.collection_serve').text('收 藏 服 务');
            }
        };
        request.run();
    }
    $(function () {
        let navList = '';
        Ajax('/webadmin/column/getAllColumn', null).then(function (res) {
            let columnIdHref = location.search.substr(1).split('=')[1];
            $.each(res.data, function (index, item) {
                if (item.navigation) {
                    if ("7fb04da1eacf47e3ab23dc1b129de736" === item.columnId) {
                        $.each(item.children, function (i, k) {
                            if (k.columnId === columnIdHref) {
                                obtainCollectionFun(k.columnId);
                                $('.collection_serve').on('click', function () {
                                    if (sessionStorage.getItem('token')) {
                                        if ($(this).text() === '收 藏 服 务') {
                                            collectionFun({ userId: sessionStorage.getItem('id'), cmsContentId: columnIdHref, type: 0, title: k.columnName })
                                        } else {
                                            cancelCollectionFun($('.collection_serve').attr('id'))
                                        }
                                        footprintAddFun({ userId: sessionStorage.getItem('id'), title: k.columnName })
                                        obtainCollectionFun(k.columnId);
                                    } else {
                                        window.location.href = '../../login.html?url=/' + item.pcListUrl + '&columnId=' + columnIdHref;
                                    }
                                })
                            }
                        })
                        let select = '<ul class="select_nav htmlNone">';
                        $.each(item.children, function (index, items) {
                            if (index === 1) {
                                select += '<li style="background: #112A5A;" columnId="' + items.columnId + '"' + ' data_url="' + items.pcListUrl + '"' + '>' + items.columnName + '</li>';
                            } else {
                                select += '<li columnId="' + items.columnId + '"' + ' data_url="' + items.pcListUrl + '"' + '>' + items.columnName + '</li>';
                            }
                        })
                        select += '</ul>';
                        navList += '<li class="hove_list" columnId="' + item.columnId + '" data_url="' + item.pcListUrl + '"><span>' + item.columnName + '</span><i></i>' + select + '</li>';
                    } else {
                        navList += '<li columnId="' + item.columnId + '" data_url="' + item.pcListUrl + '"><span>' + item.columnName + '</span></li>';
                    }
                } else if ("99ac70c135a2463a8d7353aabf04ac18" === item.columnId) {
                    childrenListFun(item.children);
                }
            })
            $('.nav-list').html(navList);
            $('.nav-list').on('click', 'li', function (e) {
                e.stopPropagation();
                e.preventDefault();
                // 控制导航下划线
                $(this).append('<i></i>').siblings().children().remove('i')
                window.location.href = request.httpUrl + $(this).attr('data_url') + '?columnId=' + $(this).attr('columnId');
            })
            $('.hove_list').hover(function () {
                $('.select_nav').removeClass('htmlNone');
            }, function () {
                $('.select_nav').addClass('htmlNone');
            })
            $('.select_nav').on('click', 'li', function (e) {
                e.stopPropagation();
                e.preventDefault();
                window.location.href = request.httpUrl + $(this).attr('data_url') + '?columnId=' + $(this).attr('columnId');
            })
            backBigFun("d8900e5f4b9548c3baf695dd6b63fe1a");
        })
    })
    // 大背景图片文字按钮链接
    function backBigFun(columnId) {
        Ajax('/webadmin/content/getAllContentByColumnId', { 'columnId': columnId }).then(function (res) {
            let data = JSON.parse(res.data.content[0].content).values;
            $('.back_banner').attr('src', data.back_url[0].fileDownloadUri);
            $('.back_title').text(data.back_title);
            $('.back_text').text(data.back_text);
            $('.platform_btn').text(data.platform_btn);
            $('.platform_btn').on('click', function () {
                window.location.href = data.platform_url;
            });
        });
    }
    // 子栏目列表
    function childrenListFun(list) {
        $.each(list, function (index, item) {
            $('.content-tab').append('<li class="tab_item"><img class="img-n" src="../../public/image/bigData/cydt.png">' +
                '<img class="img-h" src="../../public/image/bigData/cydtl.png">' + item.columnName + '</li>');
            if (item.columnName === '服务介绍') {
                serveIntroduceFun(item.columnId);
            } else if (item.columnName === '服务优势') {
                serveAdvantageFun(item.columnId);
            } else if (item.columnName === '客户案例') {
                caseFun(item.columnId);
            }
        });
    }
    // 服务介绍
    function serveIntroduceFun(columnId) {
        Ajax('/webadmin/content/getAllContentByColumnId', { 'columnId': columnId }).then(function (res) {
            let data = JSON.parse(res.data.content[0].listContent).values;
            $('.serve_text').text(data.content)
            $.each(data.icon, function (index, item) {
                $('.img_content').append('<img style="display: block;width:70%;margin:20px auto;" src="' + item.fileDownloadUri + '" alt="">');
            })

        });
    }
    // 服务优势
    function serveAdvantageFun(columnId) {
        Ajax('/webadmin/content/getAllContentByColumnId', { 'columnId': columnId }).then(function (res) {
            let data = JSON.parse(res.data.content[0].listContent).values;
            $.each(data.icon, function (index, item) {
                $('.img_content_1').append('<img style="display: block;width:70%;margin:20px auto;" src="' + item.fileDownloadUri + '" alt="">');
            })
            $('.serve_advantage').text(data.content);
        });
    }
    // 客户案例
    function caseFun(columnId) {
        Ajax('/webadmin/content/getAllContentByColumnId', { 'columnId': columnId, size: 50 }).then(function (res) {
            $.each(res.data.content, function (index, item) {
                let data = JSON.parse(item.listContent).values;
                $('#swiper-item-content').append('<div class="swiper-slide">' +
                    '<div class="case-list-item back_color">' +
                    '<h2 class="swiper-title">' + item.title + '</h2>' +
                    '<div class="content-slide">' + data.content + '</div>' +
                    '</div>' +
                    '<img src="' + data.back[0].fileDownloadUri + '">' +
                    '</div>');
            });
            new Swiper('#swiper', {
                loopedSlides: 3,
                slidesPerView: 3,
                spaceBetween: 20,
                observer: true,
                observeParents: true,
                loop: true, // 循环模式选项
                navigation: {
                    nextEl: '.swiper-case-list .swiper-button-next',
                    prevEl: '.swiper-case-list .swiper-button-prev',
                },
            });
            $('.case-list-item').hover(function () {
                $(this).children('.swiper-title').animate({ top: '-100%' });
                $(this).children('.content-slide').animate({ top: 0 });
            }, function () {
                $(this).children('.swiper-title').animate({ top: 0 });
                $(this).children('.content-slide').animate({ top: '100%' });
            })
        })
    }
    // 提示框
    function tipsFun(text) {
        $('body').append('<div class="tips-text"><i>></i>' + text + '</div>');
        setTimeout(function () {
            $('body .tips-text').remove();
        }, 2000);
    }
</script>
<script type="text/javascript" src="../../libs/js/search.js"></script>

</html>